# Ignore all yaml files
*.yaml

# But not these specific ones
!namespace.yaml
!configmap.yaml
!mysql-pvc.yaml
!mysql-secret.yaml
!mysql-service.yaml
!mysql-deployment.yaml
!joomla-service.yaml
!joomla-pvc.yaml
!joomla-deployment.yaml
!kustomization.yaml